# Gas Town
.runtime/
.claude/
.beads/
.logs/

# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# Build
builddir/
_build/
.flatpak-builder/
dist/

# Python
*.pyc
__pycache__/
.pytest_cache/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.metadata

# Node
node_modules/
/state.json
